<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281181573124-oa1sas83hp9hm8evq16sn6atf3jkk2f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281181573124-oa1sas83hp9hm8evq16sn6atf3jkk2f4</string>
	<key>API_KEY</key>
	<string>AIzaSyC2HSFxwwSV_L3WG9LpVRSxh7mYKO5aODo</string>
	<key>GCM_SENDER_ID</key>
	<string>281181573124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f5eb6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f5eb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281181573124:ios:e321c9942e8e79906c6551</string>
</dict>
</plist>